body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
p,input {
  display: inline-block;
}

.Collection {
    height: 100%;
    position: absolute;
    width: 100%;
    /*display: none;*/
}

.Collection.active {
    /*display: block;*/
}

button {
  position: fixed;
}
.prev {
  top:50%;
  left: 0;
}
.next {
  top:50%;
  right: 0;
}
.fade-in  {
  opacity: 1;
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
.fade-out {
  opacity: 0;
}